/* The following style sheet is using the necessary parts of the DEAC
   Cluster Style sheet http://www.deac.wfu.edu/assets/css/main.css
   When I have ENTIRE page working with their style sheet use their
   style sheet NOT this one! */

body, input, textarea, select {
    font-family: "Arial",Helvetica,sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial",Helvetica,sans-serif;
    font-weight: bold;
}

/* Style Sheet specific to DEAC Cluster System Monitor */

.bg{
    background-image: url("http://www.deac.wfu.edu/images/banner-test.png");
}
.container-fluid{
    padding-top: 20px;
    padding-bottom: 20px;
}
.bg-1{
    background-color: #ffffff;
    color: black;
}
.bg-2{
    color: #ffffff;
}
.bg-footer{
	background-color: black;
	color: #ffffff;
}

.btn-1,.btn-1:active,.btn-1:visited,.btn-1:focus{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #D4A017;
	border-color: #AF7817;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.25em;
	text-decoration: none;
	cursor: pointer;
}
.btn-1:hover{
	background-color: #AF7817;
	color: #ffffff;
}
.btn-outline{
	background: none;
	padding: 12px 22px;
	color: #ffffff;
	border-color: #ffffff;
}

.btn-outline{
	background: none;
	padding: 12px 22px;
	color: #ffffff;
	border-color: #ffffff;
}
