/* Style Sheet specific to DEAC Cluster System Monitor */
.btn-outline{
	background: none;
	padding: 12px 22px;
	color: #ffffff;
	border-color: #ffffff;
}

.btn-outline{
	background: none;
	padding: 12px 22px;
	color: #ffffff;
	border-color: #ffffff;
}
